@import "reset.css";
/* Start */
body {
    min-width: 320px;
}

img,
.time_sort span,
.tab_panel span {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

textarea {
    font-family: 'Roboto', sans-serif;
    resize: none;
}

input, .publish_label textarea {
    color: #323232;
    font-size: 14px;
    padding: 10px 12px;
    border: 1px solid #d7dee0;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #5e6973
}

::-moz-placeholder {
    color: #5e6973
}

:-moz-placeholder {
    color: #5e6973
}

:-ms-input-placeholder {
    color: #5e6973
}

/** Button **/
.blue_button {
    background: #65a3be;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 13px;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
}

.blue_button:hover {
    background: rgba(61, 144, 190, 0.93);
}

/* Container */
.vh_block, .vh_block_auth{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vh_block_auth{
    background: rgba(234,234,234,0.93);
}

.container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.main {
    align-items: start;
    justify-content: space-between;
}

.main section:first-child {
    width: 100%;
}

.main_right {
    margin-left: 30px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
}

.status_p {
    color: #548eaa;
    text-align: right;
    margin-left: 10px;
}

.flex{
    display: flex;
    align-items: center;
}

/* Main media */
@media only screen and (max-width: 750px) {
    .main_right {
        display: none;
    }
}