@import "reset.css";
body{
    min-width: 850px;
}
.vh_block{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
.main{
    align-items: start;
    justify-content: space-between;
}
.main_left{
    width: 790px;
}
.main_right{
    margin-left: 30px;
    width: 280px;
    display: flex;
    flex-direction: column;
}