@import "reset.css";
/* Start */
body{
    min-width: 850px;
}
img{
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
textarea{
    font-family: 'Roboto', sans-serif;
}
::-webkit-input-placeholder { color: #5e6973 }
::-moz-placeholder          { color: #5e6973 }
:-moz-placeholder           { color: #5e6973 }
:-ms-input-placeholder      { color: #5e6973 }

/****/
.blue_button{
    background: #65a3be;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 13px;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
}
.blue_button:hover{
    background: rgba(61,144,190,0.93);
}




.vh_block{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
.main{
    align-items: start;
    justify-content: space-between;
}
.main section:first-child{
    width: 100%;
}
.main_right{
    margin-left: 30px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
}