.advertising {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover_banner_btn{
    opacity: 0;
}

.advertising:hover > .hover_banner_btn {
    opacity: 1;
}