.publish_page{
    margin-bottom: 20px ;
}
.publish_title{
    margin-bottom: 20px;
}
.publish_label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.publish_label label{
    color: #5e6973;
    font-size: 20px;
    margin-bottom: 5px;
}
.publish_label input, .publish_label textarea{
    color: #323232;
    font-size: 16px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #6c797f;
    width: 100%;
}
.publish_label textarea{
    resize: none;
    min-height: 150px;
}

.tags_aside{
    display: flex;
    width: 100%;
}

.tags_aside button{
    margin-left: 10px;
}

.tags_array{
    margin-bottom: 10px;
}

.new_tag{
    margin: 0 10px 5px 0;
}

.publish_form{
    font-size: 16px;
}
.send_comment_panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send_comment_panel p{
    color: #548eaa;
}
.error_color{
    color: rgb(213, 60, 48)!important;
}