.right_statistics_list li {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: #515d66;
    align-items: center;
}
.right_statistics_list i {
    font-weight: bold;
    font-size: 14px;
}
.right_statistics_list span {
    color: #4d80aa;
}