.skeleton_container span{
    display: flex;
    align-items: center;
}

.post_skeleton_author{
    margin: 0 10px 0 5px;
}

.post_skeleton_tags {
    margin: 10px 0 15px 0;
}

.post_skeleton_tags span{
    margin-right: 10px;
}

.post_skeleton_panel {
    margin-top: 20px;
}