.profile_top, .profile_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.profile_btn_panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile_btn_panel button:first-child{
    margin-bottom: 5px;
}

.profile_content{
    margin-top: 15px;
}

.profile_user_photo {
    width: 100%;
    max-width: 50px;
}

.profile_login {
    color: #548eaa;
}

.profile_posts{
    width: 70%;
}

.profile_information{
    width: 330px;
    margin-left: 20px;
}

.profile_user_info li{
    margin-top: 10px;
    display: flex;
    color: #464646;
    font-size: 14px;
}

.profile_user_info span:first-child{
    font-weight: bold;
}

.profile_user_info span{
    width: 50%;
}
