.m_post_news_item{
    border-bottom: 2px solid #e5e9eb;
    margin: 20px 0!important;
    padding-bottom: 10px;
}

.m_post_title {
    font-size: 24px !important;
    margin: 10px 0;
}

.m_post_news_stats {
    border: 0!important;
}